@(form: Form[(String, String)])(implicit request: UserRequestHeader)

@main("play-scala-secure-session-example") {

    @request.flash.data.map { case (k, v) =>
    <p>
        @k: @v
    </p>
    }

    <p>
        Username is @{
        request.userInfo.map(_.username).getOrElse("N/A")
    }
    </p>

    @if(request.userInfo.isEmpty) {
        <form action="@routes.LoginController.login" method="post">
            @helper.CSRF.formField
            @helper.inputText(form("username"))
            @helper.inputText(form("password"))
            <input type="submit" value="login">
        </form>
    }

    @if(request.userInfo.isDefined) {
        <form action="@routes.LoginController.logout" method="post">
            @helper.CSRF.formField
            <input type="submit" value="logout">
        </form>
    }
}
